// 1. Tus variables primero
@import "variables";

// 2. Overrides de Bootstrap
$primary: #00adb5;

// 3. Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// 4. Tu tipografía
@import "typography";

// 5. Tus estilos
body {
  background-color: $light;
}

.footer {
  background-color: $gray;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.card {
  transition: 0.3s;
  &:hover {
    transform: scale(1.03);
  }
}
